
@{
    ViewData["Title"] = "Access Denied";
}

<h4>You do not have permission to this page.</h4>

<br />

<p>
    @if (@ViewBag.IsUserManager == true)
    {
        <a asp-controller="User" asp-action="Index">Go to Home</a>
    }
    else
    {
        <a asp-controller="Home" asp-action="Index">Go to Home</a>
    }

</p>

