@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/views/shared/_AccountLayout.cshtml";
}


<div id="main-content" class="login-content">
                    
    <div id="login_logo"></div>
                    
    <div class="alert login-alert">
        Please enter your e-mail address. You will be able to reset your password from your e-mail.
    </div>

    <form class="form-signin" id="validation" asp-controller="Account" asp-action="ForgetPassword" method="post">
                    
        <p>E-mail Address:</p>
        <div class="input-prepend">
            <span class="add-on"><span class="icon-user"></span></span>
			<input type="text" class="span11 validate[custom[email], required]" placeholder="E-mail" asp-for="Email">
        </div>
                        
        @if(!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <div class="alert login-alert">
			    @Model.ErrorMessage
			</div>
        }
        
        @if(!string.IsNullOrWhiteSpace(Model.SuccessMessage))
        {
            <div class="alert alert-success">
			    @Model.SuccessMessage
			</div>
        }

        <a asp-action="Login" class="pull-left mt5">&larr; Back</a>

        <button class="btn btn-info pull-right" type="submit" name="new-password">Get New Password</button>
                        
        <div class="clear"></div>
                        
    </form>
                                                          
</div>
