*dbmdl
*jfm
*v2
*suo
*dll
*pdb

.vs/SV/DesignTimeBuild/.dtbcache.v2
.vs/SV/v16/.suo

SV.Business/obj/

SV.Business/bin/

SV.Data/bin/

SV.Data/obj/

SV.Models/bin/

SV.WebApp/obj/

SV.Models/obj/
/.vs/git/v17/.futdcache.v1
/.vs/git/config/applicationhost.config
/git.sln
