<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="300">
    <title>@ViewData["Title"] - Bank Nizwa</title>



    <link href="~/sv/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="~/sv/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="~/sv/css/bootstrap-formhelpers.css" rel="stylesheet" media="screen">
    <link href="~/sv/css/style.css" rel="stylesheet" media="screen">
    <link href="~/sv/css/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" media="screen">
    <link href="~/sv/css/datatable/datatable_custom.css" rel="stylesheet" media="screen">
    <link href="~/sv/css/flot/jquery.flot_custom.css" rel="stylesheet" media="screen">
    <link href="~/sv/css/validationEngine.css" rel="Stylesheet" media="screen">
    <link href="~/sv/js/jQuery-UI-FileInput/css/enhanced.css" rel="Stylesheet" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>





</head>
<body>

    <!-- MAIN -->
    <div id="main">

        <!-- container content -->
        <div class="container-fluid">
            <div class="row-fluid">
                @RenderBody()
            </div>
            <!-- .row-fluid -->
        </div>
        <!-- // container content -->
    </div>
    <!-- // MAIN -->

    <script type="text/javascript" src="~/sv/js/jquery.js"></script>
    <!-- // jQuery Library -->
    <!-- Forms -->
    <script type="text/javascript" src="~/sv/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/sv/js/dataTable_bootstrap.js"></script>
    <script type="text/javascript" src="~/sv/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="~/sv/js/jQuery-UI-FileInput/js/enhance.min.js"></script>
    <script type="text/javascript" src="~/sv/js/jQuery-UI-FileInput/js/fileinput.jquery.js"></script>
    <script type="text/javascript" src="~/sv/js/jQuery-validation/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="~/sv/js/jQuery-validation/languages/jquery.validationEngine-en.js"></script>
    <!-- // Forms -->
    <!-- Core -->
    <script type="text/javascript" src="~/sv/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/sv/js/accordion.jquery.js"></script>
    <script type="text/javascript" src="~/sv/js/survey.js"></script>
    <script type="text/javascript" src="~/sv/js/survey_answers.js"></script>
    <script type="text/javascript" src="~/sv/js/custom.js"></script>
    <script src="~/sv/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/sv/js/charts-custom.js"></script>
    <script src="~/sv/js/jquery.validate.min.js"></script>
    <script src="~/sv/js/jQuery-validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/sv/js/jquery.unobtrusive-ajax.js"></script>
    <!-- // Core -->

</body>
</html>
