<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="refresh" content="300">
    <title>@ViewBag.Title</title>

    <link href="~/sv/themes/default/css/uni-form.css" media="screen" rel="stylesheet" />
    <link href="~/sv/themes/default/css/style.css" media="screen" rel="stylesheet" />
    <link href="~/sv/themes/default/css/default.uni-form.css" id="formStyle" media="screen" rel="stylesheet" />
    <link href="~/sv/themes/default/css/tables.css" media="screen" rel="stylesheet" />
    <link href="~/css/site.css" media="screen" rel="stylesheet" />

    <script type="text/javascript" src="~/sv/js/jquery.js"></script>
    <script type="text/javascript" src="~/sv/themes/default/js/uni-form.jquery.min.js"></script>
    <script type="text/javascript" src="~/sv/themes/default/js/jquery.validate.min.js"></script>
</head>
<body>

	@RenderBody()

	<div id="footer">
		<p>© 2021 - Bank Nizwa Survey Application</p>	 
	</div>

</body>
</html>