@model DepartmentViewModel
@{
    ViewData["Title"] = "Departments";
}
<div class="box">
    <div class="header"><h4>Add New Department</h4></div>
    <div class="content">

        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <div class="rowelement span8">
                <div class="notice_messages"><div class="alert alert-danger">@Model.ErrorMessage</div></div>
            </div>
        }

        <form class="form-horizontal margin-reset" asp-action="Create" method="post">

            <div class="rowelement">
                <div class="span3">
                    <p>Department Name:</p>
                </div>
                <div class="span5">
                    <input type="text" asp-for="Department" class="input-block-level" autocomplete="off" required />
                </div>
                <div class="clear"></div>
            </div>

            <div class="form-actions margin-reset">
                <div class="pull-right">
                    <button id="AddUserBtn" type="submit" class="btn btn-success pull-right">Add Department</button>
                </div>
            </div>
        </form>
    </div>
</div>
