@model DepartmentViewModel

@{
    ViewData["Title"] = "Departments";
}
<div class="box">
    <div class="header"><h4>Delete Department</h4></div>
    <div class="content">
        <form asp-action=DeleteConfirmed class="form-horizontal margin-reset" method="post">

            <input type="hidden" asp-for="ID" />

            <div class="rowelement">
                <div class="span5">
                    <p>Are you sure you want to delete this Department <strong>@Model.Department</strong>?</p>
                </div>
            </div>

            <div class="form-actions margin-reset">
                <div class="pull-right">
                    <a asp-controller="Department" asp-action="Read" class="btn">Cancel</a>
                    <button type="submit" name="delete-survey" data-option="delete-survey" class="btn btn-danger">Delete</button>
                </div>
            </div>

        </form>
    </div>
</div>